<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用注意</title>
</head>
<body>
<h1>后台使用注意</h1>
<br>
<p><strong>增加，删除，修改文本格式必须是json（json.cn这个网站可以检测文本是否是json）</strong></p>
<img src="/static/img/json.png">
<br>
<p><strong>增加时:使用鼠标点击选取某一词或者片段之后会弹出文本框可以添加描述，描述可以为空，其中片段可以选取图片，其他类型不可以</strong></p>
<br>
<p><strong>删除时:可以删除{}里面所有内容（需要将{}大括号一并删除），也可以删除[]里面所有内容。切勿只删除某一字段的值</strong></p>
<img src="/static/img/shan.png">
<hr>
<p><strong>修改时:不可修改系统自带的关键词如"desc","source","content","url"等。"source"对应的词只能是"人工"或"百度aip"</strong></p>
<img src="/static/img/gai.png">
</body>
</html>